@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url("/fonts/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy SemiBold';
  src: url("/fonts/Gilroy-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url("/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@layer components {
  .icon-menu {
    @apply h-5 w-5 fill-current text-gray-400 group-hover:text-blue-500;
  }
}